# Copyright (C) 2023-2025 Daniel Mueller <deso@posteo.net>
# SPDX-License-Identifier: GPL-3.0-or-later

name: Test

on:
  pull_request:
  push:
  workflow_call:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  # Build with only line information enabled to decrease compilation
  # time and binary sizes in CI. This option is assumed to only have
  # marginal effects on the generated code, likely only in terms of
  # section arrangement. See
  # https://doc.rust-lang.org/rustc/codegen-options/index.html#debuginfo
  RUSTFLAGS: '-D warnings -C debuginfo=line-tables-only'

jobs:
  build:
    name: Build [${{ matrix.rust }}, ${{ matrix.profile }}, ${{ matrix.args }}]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust: [stable]
        profile: [dev, release]
        args: ['']
        include:
        - rust: stable
          profile: dev
          args: --features=debug
        - rust: stable
          profile: dev
          args: --workspace --features=download-xlock-source,generate-xlock-bindings
        - rust: nightly
          profile: dev
          args: --features=nightly
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: sudo apt-get install --yes --no-install-recommends libgl-dev
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
    - name: Build ${{ matrix.profile }}
      run: cargo build --profile=${{ matrix.profile }} --all-targets ${{ matrix.args }}
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: sudo apt-get install --yes --no-install-recommends libgl-dev xvfb libxkbcommon-x11-0
    - name: Test
      shell: bash
      run: |
        export DISPLAY=:1
        Xvfb $DISPLAY -screen 0 1280x720x24 &> /tmp/xvfb.log &
        cargo test
  clippy:
    name: Lint with clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo clippy --no-deps --all-targets -- -A unknown_lints -D warnings
  rustfmt:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: cargo +nightly fmt -- --check
  rustdoc:
    name: Generate documentation
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: '-D warnings'
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - run: cargo doc --workspace --no-deps --document-private-items
